<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<div>
    <ul>
        <li><a href="/">채팅목록</a></li>
        <li><a href="/save-form">채팅 메시지쓰기</a></li>
    </ul>
</div>
<h1>채팅 메시지 쓰기</h1>
<hr>
<form action="/chat" method="post">
    <input type="text" name="msg">
    <button type="submit">전송</button>
</form>
</body>
</html>